<div class="tipo-empresa-container">
  <h2>Datos de Empresa</h2>
  <form [formGroup]="tipoEmpresaForm">
    <div class="form-group">
      <label>Tipo de Empresa <span class="required">*</span></label>
     
      <div class="form-options">
        <div class="option">
          <div class="option-content">
            <input type="radio" id="sac" formControlName="tipoEmpresa" value="SAC">
            
            <label for="sac">2 a 5 Socios (S.A.C.)</label>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20" height="20"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-user"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
              <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
            </svg>
          </div>
          <p>Sociedad Anónima Cerrada: De 2 a 5 socios. Requiere un Gerente General.</p>
        </div>
        
        <div class="option">
          <input type="radio" id="eirl" formControlName="tipoEmpresa" value="EIRL">
          <label for="eirl">Solo tu (E.I.R.L.)</label>
          <p>Empresa Individual de Responsabilidad Limitada: Serás el titular y representante de la empresa</p>
        </div>
      </div>
     
      <div *ngIf="tipoEmpresaForm.get('tipoEmpresa')?.invalid && (tipoEmpresaForm.get('tipoEmpresa')?.dirty || tipoEmpresaForm.get('tipoEmpresa')?.touched)" class="error-message">
        <div *ngIf="tipoEmpresaForm.get('tipoEmpresa')?.errors?.['required']">Campo obligatorio.</div>
      </div>
    </div>
   
    <!-- Campo de número de socios que aparece solo cuando se selecciona SA -->
    <div class="form-group socios-group" *ngIf="tipoEmpresaForm.get('tipoEmpresa')?.value === 'SAC'">
      <label for="numeroSocios">Número de Socios <span class="required">*</span></label>
      
      <div class="socios-options">
        <div class="option-buttons">
          <button 
            type="button" 
            *ngFor="let opcion of opcionesSocios" 
            class="option-btn" 
            [class.selected]="tipoEmpresaForm.get('numeroSocios')?.value === opcion && !mostrarInputPersonalizado"
            (click)="tipoEmpresaForm.get('numeroSocios')?.setValue(opcion); mostrarInputPersonalizado = false">
            {{ opcion }}
          </button>
          <button 
            type="button" 
            class="option-btn custom-btn" 
            [class.selected]="mostrarInputPersonalizado"
            (click)="cambiarTipoInput(true)">
            Otro
          </button>
        </div>
        
        <div *ngIf="mostrarInputPersonalizado" class="custom-input-container">
          <input 
            type="number" 
            class="custom-socios-input" 
            placeholder="Ingrese número personalizado" 
            min="1"
            (input)="onCustomSociosInput($event)"
          >
        </div>
      </div>
      
      <div *ngIf="tipoEmpresaForm.get('numeroSocios')?.invalid && (tipoEmpresaForm.get('numeroSocios')?.dirty || tipoEmpresaForm.get('numeroSocios')?.touched)" class="error-message">
        <div *ngIf="tipoEmpresaForm.get('numeroSocios')?.errors?.['required']">Campo obligatorio.</div>
        <div *ngIf="tipoEmpresaForm.get('numeroSocios')?.errors?.['min']">Debe ser al menos 1.</div>
      </div>
    </div>
   
    <div class="form-group">
      <label for="nombreEmpresa">Nombre de la Empresa <span class="required">*</span></label>
      <input type="text" id="nombreEmpresa" formControlName="nombreEmpresa" placeholder="Ingrese el nombre de su empresa">
      <div *ngIf="tipoEmpresaForm.get('nombreEmpresa')?.invalid && (tipoEmpresaForm.get('nombreEmpresa')?.dirty || tipoEmpresaForm.get('nombreEmpresa')?.touched)" class="error-message">
        <div *ngIf="tipoEmpresaForm.get('nombreEmpresa')?.errors?.['required']">Campo obligatorio.</div>
      </div>
    </div>
    <div class="form-group">
      <label for="posiblesNombre1">Nombres Opcionales <span class="required">*</span></label>
      <label class="info-label">En caso el nombre no esté disponible se escogerá uno de estos nombres por orden de colocación</label>
      <input type="text1" id="posiblesNombre1" formControlName="posiblesNombre1" placeholder="Ingrese posible nombre 1">
      <input type="text1" id="posiblesNombre2" formControlName="posiblesNombre2" placeholder="Ingrese posible nombre 2">
      <input type="text1" id="posiblesNombre3" formControlName="posiblesNombre3" placeholder="Ingrese posible nombre 3">
      <input type="text1" id="posiblesNombre4" formControlName="posiblesNombre4" placeholder="Ingrese posible nombre 4">
      <div *ngIf="(tipoEmpresaForm.get('posiblesNombre1')?.invalid ||
                     tipoEmpresaForm.get('posiblesNombre2')?.invalid ||
                     tipoEmpresaForm.get('posiblesNombre3')?.invalid ||
                     tipoEmpresaForm.get('posiblesNombre4')?.invalid) &&
                    (tipoEmpresaForm.get('posiblesNombre1')?.dirty ||
                     tipoEmpresaForm.get('posiblesNombre2')?.dirty ||
                     tipoEmpresaForm.get('posiblesNombre3')?.dirty ||
                     tipoEmpresaForm.get('posiblesNombre4')?.dirty ||
                     tipoEmpresaForm.get('posiblesNombre1')?.touched ||
                     tipoEmpresaForm.get('posiblesNombre2')?.touched ||
                     tipoEmpresaForm.get('posiblesNombre3')?.touched ||
                     tipoEmpresaForm.get('posiblesNombre4')?.touched)" class="error-message">
        <div *ngIf="tipoEmpresaForm.get('posiblesNombre1')?.errors?.['required'] ||
                       tipoEmpresaForm.get('posiblesNombre2')?.errors?.['required'] ||
                       tipoEmpresaForm.get('posiblesNombre3')?.errors?.['required'] ||
                       tipoEmpresaForm.get('posiblesNombre4')?.errors?.['required']">Todos los nombres son obligatorios.</div>
      </div>
    </div>
    
    <div class="form-actions">
      <button type="button" class="primary-button" (click)="siguiente()" [disabled]="tipoEmpresaForm.invalid">
        Siguiente ›
      </button>
    </div>
  </form>
</div>