<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">


<!-- Overlay para dispositivos móviles -->
<div class="sidebar-overlay" [class.show]="show" (click)="toggle()"></div>

<div class="sidebar" [class.collapsed]="collapsed" [class.show]="show">
  <!-- Solo mostramos el botón de toggle en pantallas grandes -->
  <div class="toggle-container" *ngIf="isLargeScreen">
    <button class="toggle-btn" (click)="toggle()">
      <svg *ngIf="!collapsed" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M15 6l-6 6l6 6" />
      </svg>
      <svg *ngIf="collapsed" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M9 6l6 6l-6 6" />
      </svg>
    </button>
  </div>
  
  <div class="logo-container">
    <img src="assets/logo.png" class="logo" alt="Logo de la aplicación">
  </div>
  
  <div class="menu-items">
    <div class="menu-item" [class.active]="currentRoute === '/admin'" (click)="navigateTo('/admin')" tabindex="0" (keydown.enter)="navigateTo('/admin')">
      <i class="fas fa-home"></i>
      <span *ngIf="!collapsed">Home</span>
    </div>
    <div class="menu-item" [class.active]="currentRoute === '/admin/clientes'" (click)="navigateTo('/admin/clientes')" tabindex="0" (keydown.enter)="navigateTo('/admin/clientes')">
      <i class="fas fa-users style="></i>
      <span *ngIf="!collapsed">Clientes</span>
    </div>
    <div class="menu-item" [class.active]="currentRoute === '/admin/notarios'" (click)="navigateTo('/admin/notarios')" tabindex="0" (keydown.enter)="navigateTo('/admin/notarios')">
      <i class="fas fa-user-tie"></i>
      <span *ngIf="!collapsed">Notarios</span>
    </div>
    <div class="menu-item" [class.active]="currentRoute === '/admin/tramites'" (click)="navigateTo('/admin/tramites')" tabindex="0" (keydown.enter)="navigateTo('/admin/tramites')">
      <i class="fas fa-file-alt"></i>
      <span *ngIf="!collapsed">Tramites</span>
  </div>
    <div>
      <div class="menu-item" [class.active]="currentRoute === '/admin/pagos'" (click)="navigateTo('/admin/pagos')" tabindex="0" (keydown.enter)="navigateTo('/admin/pagos')">
        <i class="fas fa-money-bill-wave"></i>
        <span *ngIf="!collapsed">Pagos</span>
    </div>

    <div class="menu-item" [class.active]="currentRoute === '/admin/configuracion'" (click)="navigateTo('/admin/configuracion')" tabindex="0" (keydown.enter)="navigateTo('/admin/configuracion')">
      <i class="fas fa-cog"></i>
      <span *ngIf="!collapsed">Configuración</span>
    </div>

  <div class="menu-item-spacer"></div> 
<!-- Botón de cerrar sesión -->
<div class="menu-item logout-item" (click)="logout()" tabindex="0" (keydown.enter)="logout()">
  <i class="fas fa-sign-out-alt"></i>
  <span *ngIf="!collapsed">Cerrar sesión</span>
</div>
</div>