<footer>
    <div class="container">
        <div class="left">
            <div class="container-left">
                <a href="#" class="logo"><img src="assets/logo.jpeg" alt=""></a>
                <div class="social-media">
                    <a href="" class="icon-social-media"><img src="assets/facebook.png" alt=""></a>
                    <a href="" class="icon-social-media"><img src="assets/instagram.png" alt=""></a>
                </div>
                <a href="" class="libro"><img src="assets/libro.png" alt="">Libro de Reclamaciones</a>
            </div>
            <p>&copy; 2025 DitechPeru S.A.C Todos los derechos reservados.</p>
        </div>
        <div class="right">
            <div class="container-right">
                <div class="services">
                    <p><b>Servicios</b></p>
                    <a href="">Constitución de empresas</a>
                    <a href="">Trámites tributarios</a>
                    <a href="">Asesoria Legal</a>
                </div>
                <div class="legal">
                    <p><b>Legal</b></p>
                    <a href="">Términos y Condiciones</a>
                    <a href="">Politica de Privacidad</a>
                    <a href="">Politica de Cookies</a>
                    <a href="">Aviso Legal</a>
                </div>
            </div>
            <p>Desarrollado con <span>❤</span>  para emprendedores peruanos</p>
        </div>
    </div>
</footer>
