<section class="services">
    <div class="container">
        <h2>Nuestros Servicios</h2>
        <p class="subtitle">Ofrecemos soluciones completas para la constitución de tu empresa.</p>
        <div class="group-services">
            <div class="item-service">
                <span><p>S.A.C</p></span>
                <p>Ideal para empresas familiares o con pocos socios. Limitación de responsabilidades y capital dividido en acciones.</p>
                <button class="btn-service back-blue">Ver Detalles</button>
            </div>
            <div class="item-service">
                <span><p>E.I.R.L</p></span>
                <p>Perfecta para emprendedores individuales que desean separar su patrimonio personal del empresarial.</p>
                <button class="btn-service back-green">Ver Detalles</button>
            </div>
            <div class="item-service">
                <span><p>S.R.L</p></span>
                <p>Es perfecta para pequeños y medianos negocios que desean asociarse con socios sin comprometer su patrimonio personal más allá de su aporte.</p>
                <button class="btn-service back-blue">Ver Detalles</button>
            </div>
        </div>
    </div>
</section>
