
<div class="form-card">
  <!-- Estado de carga -->
  <div *ngIf="cargandoEstado" class="loading-state">
    <p>Cargando información de la reserva...</p>
    <div class="spinner"></div>
  </div>
  
  <!-- Estado inicial: deshabilitado -->
  <div *ngIf="!cargandoEstado && !mostrarFormulario && nombreEmpresa" class="form-disabled">
    <p>Una vez tengamos el nombre de tu empresa te notificaremos y podrás acceder al formulario.</p>
  </div>
  
  <!-- Formulario directo sin selector -->
  <div *ngIf="mostrarFormulario && nombreEmpresa && !pago2">
    <h2>Formulario de Minuta - {{tipoEmpresaSeleccionado}}</h2>
    <p>"Completa correctamente tus datos. Esta información se usará para generar tu documento de minuta."</p>
    
    
    <!-- Componente EIRL -->
    <app-form-eirl 
      *ngIf="tipoEmpresaSeleccionado === tiposEmpresa.EIRL"
      [userData]="userData"
      [nombreEmpresa]="nombreEmpresa"
      [estadoReserva]="estadoReserva"
      [tipoAporte]="tipoAporte"
      (estadoTramiteChange)="onEstadoTramiteChange($event)"
      (porcentajeProgresoChange)="onPorcentajeProgresoChange($event)"
      (estadoPagoChange)="onEstadoPagoChange($event)"
      (pagoActualChange)="onPagoActualChange($event)">
    </app-form-eirl>
    
    <!-- Componente SAC -->
    <app-form-sac 
      *ngIf="tipoEmpresaSeleccionado === tiposEmpresa.SAC"
      [userData]="userData"
      [nombreEmpresa]="nombreEmpresa"
      [estadoReserva]="estadoReserva"
      [tipoAporte]="tipoAporte"
      [dniUsuario]="dniUsuario"
      (estadoTramiteChange)="onEstadoTramiteChange($event)"
      (porcentajeProgresoChange)="onPorcentajeProgresoChange($event)"
      (estadoPagoChange)="onEstadoPagoChange($event)"
      (pagoActualChange)="onPagoActualChange($event)">
    </app-form-sac>
  </div>

  <div *ngIf="pago2">
   
    <!-- Componente SAC -->
    <app-form-sac 
      *ngIf="tipoEmpresaSeleccionado === tiposEmpresa.SAC"
      [pago2]="pago2"
      [nombreEmpresa]="nombreEmpresa"
      (estadoTramiteChange)="onEstadoTramiteChange($event)"
      (porcentajeProgresoChange)="onPorcentajeProgresoChange($event)"
      (estadoPagoChange)="onEstadoPagoChange($event)"
      (pagoActualChange)="onPagoActualChange($event)">
    </app-form-sac>
  </div>
</div>