<section class="preguntas">
    <div class="container">
        <h2>Preguntas Frecuentes</h2>
        <p>Resuelve todas tus dudas acerca del proceso de constitución</p>

        <div class="group-preguntas">
            <div class="item-preguntas">
                <p><b>¿Cúanto tiempo toma constituir una empresa en Perú?</b></p>
                <p>El tiempo promedio es de 7 a 15 dias habiles, dependiendo del tipo de sociendad y la complejidad del caso.</p>
            </div>
            <div class="item-preguntas">
                <p><b>¿Cuál es la diferencia entre una S.A.C. y una E.I.R.L.?</b></p>
                <p>La S.A.C. requiere mínimo 2 socios y máximo 20, mientras que la E.I.R.L. es unipersonal. Además, tienen diferentes estructuras organizativas y requisitos legales.</p>
            </div>
            <div class="item-preguntas">
                <p><b>¿Cuál es el capital mínimo para constituir una empresa?</b></p>
                <p>No existe un capital mínimo legal, pero se recomienda un monto acorde a la actividad que realizará la empresa.</p>
            </div>
            <div class="item-preguntas">
                <p><b>¿Necesito estar presente físicamente para constituir mi empresa?</b></p>
                <p>No es necesario. Puedes otorgar un poder a nuestros abogados para que realicen todos los trámites en tu nombre.</p>
            </div>
            <div class="item-preguntas">
                <p><b>¿Qué documentos necesito para iniciar el proceso?</b></p>
                <p>Principalmente, copia de DNI de los socios, información sobre el giro del negocio, capital a aportar y distribución de acciones o participaciones.</p>
            </div>
            <div class="item-preguntas">
                <p><b>¿Puedo constituir una empresa siendo extranjero?</b></p>
                <p>Sí, los extranjeros pueden constituir empresas en Perú. Se requiere carné de extranjería o pasaporte y, en algunos casos, obtener el RUC de no domiciliado.</p>
            </div>
        </div>
    </div>
</section>
