<section class="beneficios">
    <div class="container">
        <h2>Beneficios de Nuestro Servicio</h2>
        <p>¿Porque elegirnos para constituir su empresa?</p>

        <div class="group-beneficios">
            <div class="item-beneficios">
                <p class="title"> <b>Rapidez</b></p>
                <p class="subtitle">Constituimos tu empresa en tiempo record, evitando largas esperas y tramites burocraticos</p>
            </div>
            <div class="item-beneficios">
                <p class="title"><b>Seguridad</b></p>
                <p class="subtitle">Constituimos tu empresa en tiempo record, evitando largas esperas y tramites burocraticos</p>
            </div>
            <div class="item-beneficios">
                <p class="title"><b>Asesoria Perzonalizada</b></p>
                <p class="subtitle">Constituimos tu empresa en tiempo record, evitando largas esperas y tramites burocraticos</p>
            </div>
            <div class="item-beneficios">
                <p class="title"><b>Precios Transparentes</b></p>
                <p class="subtitle">Constituimos tu empresa en tiempo record, evitando largas esperas y tramites burocraticos</p>
            </div>
            <div class="item-beneficios">
                <p class="title"><b>Seguimiento Digital</b></p>
                <p class="subtitle">Constituimos tu empresa en tiempo record, evitando largas esperas y tramites burocraticos</p>
            </div>
            <div class="item-beneficios">
                <p class="title"><b>Soporte</b></p>
                <p class="subtitle">Constituimos tu empresa en tiempo record, evitando largas esperas y tramites burocraticos</p>
            </div>
        </div>
    </div>
</section>
