<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<main>
    <app-header (mostrarFormulario)="recibirEventoDesdeHeader()" (mostrarLogin)="mostrarComponentLogin()" ></app-header>
    <app-banner *ngIf="mostrarFormulario, Login" @fadeInOut></app-banner>
    <app-procesos *ngIf="mostrarFormulario, Login" @fadeInOut></app-procesos>
    <app-servicios *ngIf="mostrarFormulario, Login" @fadeInOut></app-servicios>
    <app-beneficios *ngIf="mostrarFormulario, Login" @fadeInOut></app-beneficios>
    <app-preguntas *ngIf="mostrarFormulario, Login" @fadeInOut></app-preguntas>
    <app-footer *ngIf="mostrarFormulario, Login" @fadeInOut></app-footer>

    <app-pre-form *ngIf="mostrarFormulario, Login" @fadeInOut></app-pre-form>
</main>







<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />