<div class="datos-personales-container">
    <h2>Datos Personales</h2>
  
    <form [formGroup]="datosPersonalesForm">
      <div class="form-row">
        <div class="form-group">
          <label for="nombre">Nombre <span class="required">*</span></label>
          <input type="text" id="nombre" name="nombre" formControlName="nombre" placeholder="Ingrese su nombre">
          <div *ngIf="datosPersonalesForm.get('nombre')?.invalid && (datosPersonalesForm.get('nombre')?.dirty || datosPersonalesForm.get('nombre')?.touched)" class="error-message">
            <div *ngIf="datosPersonalesForm.get('nombre')?.errors?.['required']">Campo obligatorio.</div>
          </div>
        </div>
  
        <div class="form-group">
          <label for="apellidos">Apellidos <span class="required">*</span></label>
          <input type="text" id="apellidos" name="apellidos" formControlName="apellidos" placeholder="Ingrese sus apellidos">
          <div *ngIf="datosPersonalesForm.get('apellidos')?.invalid && (datosPersonalesForm.get('apellidos')?.dirty || datosPersonalesForm.get('apellidos')?.touched)" class="error-message">
            <div *ngIf="datosPersonalesForm.get('apellidos')?.errors?.['required']">Campo obligatorio.</div>
          </div>
        </div>
      </div>
  
      <div class="form-group">
        <label for="email">Correo Electrónico <span class="required">*</span></label>
        <input type="email" id="email" name="email" formControlName="email" placeholder="ejemplo@correo.com">
        <div *ngIf="datosPersonalesForm.get('email')?.invalid && (datosPersonalesForm.get('email')?.dirty || datosPersonalesForm.get('email')?.touched)" class="error-message">
          <div *ngIf="datosPersonalesForm.get('email')?.errors?.['required']">Campo obligatorio.</div>
          <div *ngIf="datosPersonalesForm.get('email')?.errors?.['email']">Ingrese un correo electrónico válido.</div>
        </div>
      </div>
  
      <div class="form-group">
        <label for="telefono">Teléfono <span class="required">*</span></label>
        <input type="tel" id="telefono" formControlName="telefono" placeholder="Ej: 912345678">
        <div *ngIf="datosPersonalesForm.get('telefono')?.invalid && (datosPersonalesForm.get('telefono')?.dirty || datosPersonalesForm.get('telefono')?.touched)" class="error-message">
          <div *ngIf="datosPersonalesForm.get('telefono')?.errors?.['required']">Campo obligatorio.</div>
          <div *ngIf="datosPersonalesForm.get('telefono')?.errors?.['pattern']">Ingrese un teléfono válido "Ej: 912345678".</div>
        </div>
      </div>

      <div class="form-group">
        <label for="dni">DNI <span class="required">*</span></label>
        <input type="text" id="dni" formControlName="dni" placeholder="Ej: 78679846">
        <div *ngIf="datosPersonalesForm.get('dni')?.invalid && (datosPersonalesForm.get('dni')?.dirty || datosPersonalesForm.get('dni')?.touched)" class="error-message">
          <div *ngIf="datosPersonalesForm.get('dni')?.errors?.['required']">Campo obligatorio.</div>
          <div *ngIf="datosPersonalesForm.get('dni')?.errors?.['pattern']">Ingrese su numero de dni "Ej: 78679846".</div>
        </div>
      </div>


  
      <div class="info-message">
        Esta información será utilizada para contactarlo respecto a su trámite de constitución de empresa.
      </div>
  
      <div *ngIf="error" class="error-message global-error">
        {{ error }}
      </div>
  
      <div class="form-actions">
        <button type="button" class="secondary-button" (click)="anterior()">
          Atrás
        </button>
        <button type="button" class="primary-button" (click)="siguiente()" [disabled]="datosPersonalesForm.invalid || enviando">
          <span *ngIf="!enviando">Enviar ›</span>
          <span *ngIf="enviando">Enviando...</span>
        </button>
      </div>
    </form>
  </div>