<div class="payment-card">
  <div class="card-header">
    <div class="header-icon-title">
  <i class="payment-icon"></i>
  <h2>Estado de Pagos</h2>
  </div>
  </div>
  
  

  <div class="payment-list">
    <!-- Primer pago (Reserva de nombre) -->
    <div class="payment-item">
      <div class="payment-content">
        <h3 class="payment-title">{{ pagos[0].nombre }}</h3>
        <p class="payment-description">Reserva del nombre empresarial</p>
        
        <div class="payment-due-date">
          <i class="calendar-icon"></i>
          <span>Fecha de pago: {{fechaPago1}}</span>
        </div>
      </div>
      
      <div class="payment-info">
        <div class="payment-price">S/. 100.00</div>
        
        <div class="payment-status" [ngClass]="pagos[0].pagado ? 'pagado' : 'pendiente'">
          <i class="status-icon"></i>
          {{ pagos[0].pagado ? 'Pagado' : 'Pendiente' }}
        </div>
      </div>
    </div>

    <!-- Segundo pago (Entrega de Minuta) -->
    <div class="payment-item">
      <div class="payment-content">
        <h3 class="payment-title">{{ pagos[1].nombre }}</h3>
        <p class="payment-description">Elaboración y entrega de minuta</p>
        
        <div class="payment-due-date">
          <i class="calendar-icon"></i>
          <span>Fecha de Pago: {{fechaPago2}}</span>
        </div>
      </div>
      
      <div class="payment-info">
        <div class="payment-price">S/. 400.00</div>
        
        <div class="payment-status" [ngClass]="pagos[1].pagado ? 'pagado' : 'pendiente'">
          <i class="status-icon"></i>
          {{ pagos[1].pagado ? 'Pagado' : 'Pendiente' }}
        </div>
      </div>
    </div>
  </div>
</div>
