.banner{
  max-width: 100vw;
  background: #1e293b;   /* El color final que tenías */ /* Un color final aún más oscuro */
  align-content: center;
  gap: 0px 20px;
  padding: 50px 0;

}

.container{
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: left;
  margin: 0 auto;
  gap: 0px 30px;
  padding: 15px 10px;
}

/* 1) Reserva espacio para las imágenes con aspect-ratio */
.banner-image-responsive img,
.banner-image img {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 4 / 3; /* o la proporción real de tu imagen */
}

/* 2) Reserva espacio para el contenido de texto */
.banner-content {
  width: 90%;
  min-height: 280px;      /* ajusta según altura típica de tu texto */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-content h1{
  color: white;
  font-size: 69px;
  width: 100%;
  margin-top: 0px;
  letter-spacing: -0.5px;
}

.banner-content h1 span{
  color: #42B483;
}
.banner-content p{
  color: #F6F6F6;
  font-size: 22px;
  margin-top: 10px;
  letter-spacing: -0.5px;
}

.banner-image{
  height: auto;
  display: flex;
  justify-content: right;
}

img{
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.banner-image-responsive{
  display: none;
}


.banner-content .info-text {
  margin-top: 1rem;              /* Separación respecto al párrafo anterior */
  font-size: 0.9rem;             /* Texto ligeramente más pequeño */
  color: #ffffff;                   /* Un gris menos contrastado */
  border-left: 3px solid #007bff;/* Línea de acento */
  padding-left: 0.75rem;         /* Separación interna para la línea */
  font-style: italic;            /* Opcional: enfatizar con cursiva */
  letter-spacing: 0.5px;
}

@media (max-width: 768px) {
  .banner{
    height: 90vh;
  }
  .container {
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
  }
  .banner-content {
    text-align: center;
    width: 100%;
  }
  .banner-content h1 {
    font-size: 40px;
  }
  .banner-content p {
    font-size: 16px;
  }
  img {
    width: 100%;
    height: auto;
  }

  .banner-image-responsive{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .banner-image{
    display: none;
  }
}