<section class="procesos">
  <div class="container">
    <h3>Proceso Fácil y Rápido</h3>
    <div class="container diagonal">

      <div class="step step-left diagonal-step" style="background-image: url('assets/registro.png');">
        <h4 class="step_title">Registro</h4>
        <p class="step_description">Completa nuestro formulario con los datos básicos de tu empresa.</p>
      </div>

      <div class="step step-center " style="background-image: url('assets/documentos.png');">
        <h4 class="step_title">Documentación</h4>
        <p class="step_description">Recogemos toda la información necesaria para entender tus necesidades y objetivos.
        </p>
      </div>

      <div class="step step-center " style="background-image: url('assets/tramites.png');">
        <h4 class="step_title">Trámites</h4>
        <p class="step_description">Recogemos toda la información necesaria para entender tus necesidades y objetivos.
        </p>
      </div>

      <div class="step step-right " style="background-image: url('assets/entrega.png');">
        <h4 class="step_title">Entrega</h4>
        <p class="step_description">Recogemos toda la información necesaria para entender tus necesidades y objetivos.
        </p>
      </div>

    </div>
  </div>
</section>