<section class="procesos">
    <div class="container">
        <h2>Proceso Fácil y Rápido</h2>
        <div class="procesos-pasos">
            <div class="item-paso">
                <p class="back-green">1</p>
                <span>Registro</span>
                <p class="descrip">Completa nuestro formulario con los datos básicos de tu empesa.</p>
            </div>
            <div class="item-paso">
                <p class="back-blue">2</p>
                <span>Documentación</span>
                <p class="descrip">Preparamos todos los documentos legales necesarios para tu empresa.</p>
            </div>
            <div class="item-paso">
                <p class="back-green">3</p>
                <span>Trámites</span>
                <p class="descrip">Realizamos todos los trámites ante SUNARP Y SUNAT.</p>
            </div>
            <div class="item-paso">
                <p class="back-blue">4</p>
                <span>Entrega</span>
                <p class="descrip">Recive todos los documentos oficiales de tu empresa constituida.</p>
            </div>
        </div>
    </div>
</section>
