<section class="procesos">
    <div class="container">
      <h2>Proceso Fácil y Rápido</h2>
      <div class="procesos-pasos">
        <div class="item-paso">
          <div class="circle green">1</div>
          <h3>Registro</h3>
          <p class="descrip">Completa nuestro formulario con los datos básicos de tu empresa.</p>
        </div>
        <div class="item-paso">
          <div class="circle blue">2</div>
          <h3>Documentación</h3>
          <p class="descrip">Preparamos todos los documentos legales necesarios para tu empresa.</p>
        </div>
        <div class="item-paso">
          <div class="circle green">3</div>
          <h3>Trámites</h3>
          <p class="descrip">Realizamos todos los trámites ante SUNARP y SUNAT.</p>
        </div>
        <div class="item-paso">
          <div class="circle blue">4</div>
          <h3>Entrega</h3>
          <p class="descrip">Recibe todos los documentos oficiales de tu empresa constituida.</p>
        </div>
      </div>
    </div>
  </section>
  